$black_text: #000000;
$button_enabled: black;
$button_disabled: gray;
$dark_green: #326034;
$gray: #EBEBEB;
$light_blue: #3E81FB;
$orange: #FD7900;
$price_color: #6A6E7C;
$policy_text: #1F242F;
$text_color: #323260;
$white_text: #ffffff;

@font-face {
  font-family: Roboto-Regular;
  src: local('../fonts/roboto/Roboto-Regular.ttf');
}

@mixin font($size: 14px, $line-height: 1.5em) {
  font-family: Roboto-Regular, sans-serif;
  font-size: $size;
  font-style: normal;
  font-weight: 400;
  line-height: $line-height;
  letter-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1200px;
  width: 100%;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
  }

  .header__container {
    margin: 0;

    .header__link {
      text-decoration: none;

      .header__back_link {
        cursor: pointer;
        margin-left: 25px;
        @include font(20px);
        color: $black_text;
      }
    }

    .header__nav {
      justify-content: flex-end;
      background: none;
    }
  }

  .promotions {
    padding-left: 127px;

    .promotions__header {
      @include font(42px, 1.1em);
      color: $text_color;
    }

    .promotions__text {
      @include font(16px, 1.5em);
      color: $text_color;
      margin: 70px 0 20px;
      width: 28em;
    }

    .promotions__buttons {
      display: flex;
    }

    .promotions__button {
      background-color: white;
      background-repeat: no-repeat;
      border: none;
      height: 50px;
      width: 50px;
    }

    .promotions__link {
      text-decoration: none;
      height: 50px;
      width: 50px;
    }

    .promotions__button-whatsapp {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none'%3E%3Cpath fill='%2343AC3C' d='M25 50a25 25 0 100-50 25 25 0 000 50z'/%3E%3Cpath fill='%23FEFEFE' d='M18.41 34.62l.42.26A11.67 11.67 0 0036.66 25c0-6.43-5.23-11.66-11.66-11.66a11.67 11.67 0 00-9.18 18.83l.28.36-.6 3.1 2.91-1.01zM25 38.7c-2.4 0-4.75-.64-6.83-1.84l-5.34 1.84 1.1-5.65A13.71 13.71 0 0125 11.3c7.55 0 13.7 6.15 13.7 13.7 0 7.55-6.15 13.7-13.7 13.7z'/%3E%3Cpath fill='%23FEFEFE' d='M18.08 19.74s.8-1.4 1.46-1.49c.66-.08 1.5-.08 1.73.35a80 80 0 011.24 2.92s.18.42-.09.84a8.32 8.32 0 01-.87 1.02s-.33.42 0 .88c.34.45.85 1.3 1.93 2.36 1.07 1.08 3.13 1.84 3.13 1.84s.3.04.48-.15c.19-.18 1.2-1.45 1.2-1.45s.33-.43.88-.18c.54.25 2.88 1.42 2.88 1.42s.28.1.28.51c0 .42-.17 1.43-.51 1.78-.34.34-1.35 1.4-2.86 1.4-1.5 0-5.1-1.23-7-3.14-1.92-1.92-3.62-3.86-4.02-5.62-.4-1.77-.35-2.57.14-3.3z'/%3E%3C/svg%3E");
    }

    .promotions__button-instagram {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none'%3E%3Cpath fill='url(%23paint0_radial)' d='M25 50a25 25 0 100-50 25 25 0 000 50z'/%3E%3Cpath fill='%23FEFEFE' d='M19.75 13.8a6.58 6.58 0 00-6.57 6.57v9.26a6.58 6.58 0 006.57 6.57h10.5a6.58 6.58 0 006.57-6.57v-9.26a6.58 6.58 0 00-6.57-6.57h-10.5zm10.5 24.28h-10.5a8.46 8.46 0 01-8.45-8.45v-9.26c0-4.66 3.8-8.45 8.45-8.45h10.5c4.66 0 8.45 3.8 8.45 8.45v9.26c0 4.65-3.8 8.45-8.45 8.45z'/%3E%3Cpath fill='%23FEFEFE' d='M25 19.36a5.65 5.65 0 10.01 11.3 5.65 5.65 0 00-.01-11.3zm0 13.16a7.53 7.53 0 11.02-15.06A7.53 7.53 0 0125 32.52zM33.97 17.7a1.56 1.56 0 11-3.12 0 1.56 1.56 0 013.12 0z'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientTransform='rotate(-44.19 57.16 21.77) scale(71.1041)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FAEA1C'/%3E%3Cstop offset='.45' stop-color='%23E62874'/%3E%3Cstop offset='1' stop-color='%2345519D'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
      margin-left: 82px;
    }
  }

  @media screen and (max-width: 650px) {

    .promotions {
      padding: 0 5%;

      .promotions__header {
        text-align: center;
      }

      .promotions__text {
        margin: 30px auto;
        text-align: center;
        width: 100%;
      }
    }

    .promotions__buttons {
      display: flex;
      justify-content: space-around;
    }

    .promotions .promotions__button-instagram {
      margin: 0;
    }
  }

  .footer {
    background-color: $dark_green;
    margin-top: auto;
  }
}
