/*.slider {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 475px;
  height: 397px;
  margin: 50px auto;
  position: relative;

  & img {
    height: 100%;
    margin: 0 10px;
    position: absolute;
    transition: all 0.5s linear;
  }

  .position_1 {
    top: 0;
    left: 0;
  }

  .position_2 {
    left: 250px;
  }

  .position_3 {
    left: 500px;
  }

  .position_4 {
    left: 750px;
  }

  .position_5 {
    left: 1000px;
  }
}

.buttons {
  width: 475px;
  text-align: center;
  margin: 20px auto;

  .prev_btn, .next_btn {
    background: none;
    border: none;

    .icon_prev, .icon_next {
      fill: #3E81FB;
      z-index: 999;

      &-disabled {
        fill: gray;
      }
    }
  }
}*/


.wrapper {
  margin: 50px auto;

  .order_constructor {
    display: flex;

    &__sample {
      width: 40%;

      .order_constructor__image {

        .order_construction__background_image {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: gray;
          justify-content: center;
          padding: 50px;
          position: relative;


          .player_theme {
            width: 50%;
            height: auto;
          }

          .order_construction__user_img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            height: 33%;
            overflow: hidden;
            position: absolute;
            background: gray center no-repeat;
            transform: translateY(-42%);
            background-size: cover;
            /*-webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);*/

            #user_image {
              position: relative;
              left: 0;
              top: 0;
              height: 100%;
              margin: 0;
              padding: 0;

            }
          }

          .order_construction__user_text {
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            top: 61%;

            .user_text {
              background-color: white;
              font-size: 16px;
              font-weight: bold;
              text-align: center;

            }

            .user_text-track {

            }

            .user_text-performer {
              margin-top: .6em;
            }

            .user_text-lower {
              margin-top: 3.5em;
            }
          }
        }
      }
    }

    &__main {
      margin-left: 5%;
      width: 50%;

      .order_constructor__form {
        display: flex;
        flex-direction: column;

        .order_constructor__file_miniature {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: gray;
          padding: 50px;
          width: 40%;
          height: 300px;
          overflow: hidden;

          #upload_file_miniature_img {
            position: relative;
            height: 100%;
          }
        }
      }
    }

  }
}

/* Слайдер */
.slick-slider {
  position: relative;
  max-width: 463px;
  width: 100%;
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}

/* Слайдер с точками */
.slick-slider.slick-dotted {
}

/* Ограничивающая оболочка */
.slick-list {
  padding-bottom: 30px;
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
  /*height: auto;
  width: 232px;*/

  img {
    height: auto;
    max-width: 223px;
    width: 100%;
  }
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}

/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.slick-arrow {
  background: none;
  border: none;
  font-size: 0;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 43px;
  z-index: 99;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='43' height='30'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 30' %3E%3Cpath d='M41.308 12.917H7.768l9.251-9.23A2.16 2.16 0 0 0 13.964.634L1.056 13.54a2.151 2.151 0 0 0 0 3.033l12.908 12.909a2.151 2.151 0 0 0 3.033-3.034l-9.229-9.23h33.54a2.15 2.15 0 1 0 0-4.302z'%3E%3C/path%3E%3C/svg%3E%3C/svg%3E");
  left: 39%;
  //transform: translateX(-50%);
}

.slick-arrow.slick-prev.slick-disabled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='43' height='30'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 30' fill='gray'%3E%3Cpath d='M41.308 12.917H7.768l9.251-9.23A2.16 2.16 0 0 0 13.964.634L1.056 13.54a2.151 2.151 0 0 0 0 3.033l12.908 12.909a2.151 2.151 0 0 0 3.033-3.034l-9.229-9.23h33.54a2.15 2.15 0 1 0 0-4.302z'%3E%3C/path%3E%3C/svg%3E%3C/svg%3E");
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='43' height='30'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 30'%3E%3Cpath d='M3.123 12.917h33.54l-9.251-9.23A2.16 2.16 0 1 1 30.467.634L43.375 13.54a2.151 2.151 0 0 1 0 3.033L30.467 29.483a2.151 2.151 0 0 1-3.034-3.034l9.23-9.23H3.123a2.151 2.151 0 1 1 0-4.302z'%3E%3C/path%3E%3C/svg%3E%3C/svg%3E");
  right: 40%;
  //transform: translateX(-50%);
}

.slick-arrow.slick-next.slick-disabled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='43' height='30'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 30' fill='gray'%3E%3Cpath d='M3.123 12.917h33.54l-9.251-9.23A2.16 2.16 0 1 1 30.467.634L43.375 13.54a2.151 2.151 0 0 1 0 3.033L30.467 29.483a2.151 2.151 0 0 1-3.034-3.034l9.23-9.23H3.123a2.151 2.151 0 1 1 0-4.302z'%3E%3C/path%3E%3C/svg%3E%3C/svg%3E");
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {

}

/* Точки (булиты) */
.slick-dots {
}

.slick-dots li {
}

/* Активная точка */
.slick-dots li.slick-active {
}

/* Элемент точки */
.slick-dots li button {
}


